<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <p class="text-lg">
        Hello, I'm Ivan, a web developer from Mexico. I specialize in creating
        unique web applications and UX/UI design. I have experience working with
        technologies such as React, Next.js, and Tailwind CSS. I am passionate
        about creating web applications that are both visually appealing and
        functional. I am always looking for new opportunities to work on
        exciting projects and expand my skill set.
    </p>
</h2>
