<header class="flex flex-col md:flex-row justify-between items-center py-5 w-full px-4 md:px-0 xl:w-[1120px] mx-auto ">
    <img
        class="rounded-full size-12 mb-4 md:mb-0"
        src="/supreSVG.svg"
        alt="phone-Ivan"
    />

    <nav class="hidden md:block">
        <ul class="flex flex-col md:flex-row gap-4 md:gap-x-10 opacity-80">
            <a class="hover:text-pink-700" href="#home">Home</a>
            <a class=" hover:text-pink-700" href="#experience">Experience</a>
            <a class=" hover:text-pink-700" href="#projects">Projects</a>
            <a class=" hover:text-pink-700" href="#about-me">About Me</a>
            <a class=" hover:text-pink-700" href="#contact">Contact</a>
        </ul>
    </nav>
</header>