---
const { class: className, id } = Astro.props;
---

<section
    id={id}
    class={`${className} w-[700px] mx-auto pb-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6`}>
    <slot />
</section>
